@use "./fonts" as *;

// width dimensions
$wrapper: 1500px;
$tablet-width: 768px;
$desktop-width: 1280px;

// fonts variables
$main-font-regular: "Roboto", sans-serif;

// colors
$main-background: #071214;
$modal-background: #f2f2f2;
$font: #FFFFFF;
$input-bg: #f2f2f2;

$primary-accent: #6921c2;
$secondary-accent: hotpink; // TODO: find a better secondary accent color