@use "./fonts" as*;

// fonts variables
$main-font-regular: "Roboto", sans-serif;

// darkmode variables
$dm-font-color: #fff;
$dm-background-color: #000;

// lightmode variables
$lm-font-color: #000;
$lm-background-color: #fff;