@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.darkMode {
  margin-left: 1rem;
  background: white url('../../assets/icons/moon.png') no-repeat center;
  background-size: 30px 30px;
  width: 45px;
  height: 45px;
  // filter: grayscale(100%);
  border: none;
  border-radius: 50%;
  &:hover {
    background-color: lightgray;
    // transition: 0.3s linear;
    filter: none;
    cursor: pointer;
  }
  &:active {
    transition: none;
  }
  &.clicked {
    filter: none !important;
  }
}

.lightMode {
  margin-left: 1rem;
  background: transparent url('../../assets/icons/sun.png') no-repeat center;
  background-size: 30px 30px;
  width: 45px;
  height: 45px;
  filter: grayscale(100%);
  border: none;
  border-radius: 50%;
  &:hover {
    background-color: lightgray;
    // transition: 0.3s linear;
    filter: none;
    cursor: pointer;
  }
  &:active {
    transition: none;
  }
  &.clicked {
    filter: none !important;
  }
}