@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.about {
  @include wrapper;
  @include display-flex(column, center, center);
  @include paddingsection;
  @include tablet {
    height: 100vh;
  }
  &__title {
    @include subtitle;
    @include display-flex(row, center, center);
    @include h2Size;
    @include tablet {
      margin-bottom: 2rem;
    }
  }

  .info {
    width: 100%;
    @include tablet {
      padding: 2rem;
      border-radius: 8px;
    }
    @include desktop {
      width: 50%;
    }
    .infoCard {
      @include desktop {
        border-radius: 8px;
      }

      &__aboutme {
        font-size: 1.1rem;
        line-height: 1.4rem;
        margin: 1rem 0rem;
        .emoji {
          height: 16px;
        }
        @include tablet {
          font-size: 20px;
          line-height: 1.5;
        }
      }

      &__links {
        margin: 2rem 0rem;
        @include display-flex(row, space-evenly, center);
        @include tablet {
          @include display-flex(row, flex-start, center);
          margin: 2rem 0rem 0rem 0rem;
        }
      }
      &__link {
        border-radius: 50%;
        @include display-flex(row, center, center);
        margin: 0rem 0.5rem;
        transition: 0.3s;
        &:hover {
          cursor: pointer;
        }
        &:active {
          transform: scale(0.95);
        }
        &--resume {
          text-decoration: none;
          background-color: $primary-accent;
          &:hover {
            transform: scale(1.1);
          }
          &:active {
            transform: scale(0.95);
          }
          .infoCard__cv {
            height: 40px;
            width: 40px;
            color: white;
            @include display-flex(row,center,center);
          }
        }
      }
      &__img {
        width: 40px;
        transition: 0.3s;
        filter: invert(24%) sepia(74%) saturate(4280%) hue-rotate(229deg)
          brightness(92%) contrast(95%);
        &:hover {
          transform: scale(1.1);
          filter: invert(24%) sepia(74%) saturate(4280%) hue-rotate(229deg)
            brightness(92%) contrast(95%);
        }
      }
    }
  }
}
