@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.about {
  @include wrapper;
  // height: 100vh;
  @include paddingsection;
  @include display-flex(column,center,center);
  @include desktop {
    @include display-flex(row,space-between,center);
  }
  .info {
    width: 100%;
    @include desktop {
      width: 50%;
    }
    .infoCard {
      @include paddingsection;
      @include desktop {
        border: 1px solid black;
        border-radius: 8px;
      }

      &__aboutme {
        font-size: 1.1rem;
        line-height: 1.4rem;
        margin: 1rem 0rem;
        .emoji {
          height: 16px;
        }
      }
      &__title {
        @include subtitle;
        @include tablet {
          margin-bottom: 2rem;
        }
      }
      &__links {
        margin: 1rem;
        @include display-flex(row,center,center);
        @include tablet {
          margin: 2rem 0rem 0rem 0rem;
        }
      }
      &__link {
        @include display-flex(row,center,center);
        margin: 0rem 0.5rem;
      }
      &__img {
        width: 40px;
      }
    }
  }
  .skills {
    @include paddingsection;
    @include display-flex(column,center,center);
    width: 100%;
    @include desktop {
      width: 50%;
    }

    ul {
      li {
        @include display-flex(row,center,center);
      }
    }
  }
}