@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.contact {
  @include wrapper;
  height: 100vh;
  @include paddingsection;
  @include display-flex(column, center, center);
  &-title {
    @include subtitle;
    @include h2Size;
    @include display-flex(row, center, center);
  }
  .emailForm {
    width: 100%;
    max-width: 1280px;
    @include display-flex(column, center, center);
    &__inputBox {
      width: 100%;
      @include tablet {
        width: 70%;
      }
    }
    &__label {
      position: relative;
      position: absolute;
      pointer-events: none;
      top: 18px;
      left: 10px;
      transition: 0.2s ease all;
    }

    &__input {
      width: 100%;
      padding: 0.8rem 1rem;
      margin: 0.5rem 0rem;
      font-size: 16px;
      border: 2px solid black;
      border-radius: 8px;
      transition: all 0.3s ease 0s;
      outline-color: $primary-accent;
      background-color: $input-bg;
      &:hover {
        border-color: $secondary-accent;
      }
      &--message {
        min-height: 200px;
        resize: none;
      }
      &--invalid {
        &::placeholder {
          color: red;
        }
      }
    }
    &__span {
      font-size: 14px;
      &--error {
        color: red;
      }
      &--success {
        color: $secondary-accent;
      }
    }
    &__btn {
      border-radius: 8px;
      cursor: pointer;
      background-color: $primary-accent;
      color: white;
      font-size: 16px;
      border: none;
      padding: 0.7rem 2.5rem;
      margin: 1rem 0rem;
      &:hover {
        background-color: $secondary-accent;
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }
}
