@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.header {
  @include paddingsection;
  @include display-flex(row,space-between,center);
  border-bottom: 1px solid black; // to remove later
  .logo {
    font-size: 20px;
    font-weight: 500;
  }
  &-right {
    @include display-flex(row,center,center);
    .nav {
      display: none;
      @include tablet {
        display: flex;
      }
      &__list {
        @include display-flex(row,flex-end,center);
      }
      &__item {
        margin: 0rem 0.5rem;
      }
      &__link {
        text-decoration: none;
        color: black;
        &:hover {
          border-bottom: 2px solid black;
        }
      }
    }
    .themeIcon {
      display: flex;
      margin-left: 1rem;
      cursor: pointer;
    }
  }
}