@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.footer {
  @include wrapper;
  @include paddingsection;
  @include display-flex(column,space-between,center);
  position: relative;
  width: 100%;
  bottom: 4rem;
  @include tablet {
    bottom: 0rem;
  }
  &__top {
    width: 100%;
  }
  &__bottom {
    @include display-flex(row,space-between,center);
    width: 100%;
  }
  &__name {
    @include subtitle;
    margin-bottom: 1rem;
    width: 100%;
    @include h3Size;
  }
  &__copyright {
    font-size: 14px;
  }

  &__topBtn {
    @include display-flex(row,center,center);
    border-radius: 50%;
    background-color: white;
    border: none;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    // transition: all 0.3s ease;
    &:hover {
      transition: all 0.3s ease;
      background-color: lightgrey;
    }
    .icon {
      &:hover {
        height: 2.5rem;
        width: 2.5rem;
        transition: all 0.3s ease;
        // transition: 0.3s;
        transform: translate(0px, -5px);
      }
    }
  }
}