@use "./styles/partials/reset" as *;
@import "./styles/partials/mixins";
@import "./styles/partials/variables";

* {
  box-sizing: border-box;
  font-family: $main-font-regular;
}

body {
  position: relative;
  font-family: $main-font-regular;


  .App {
    height: 100vh;

  }
}
